/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900 font-sans;
}

h1, h2, h3 {
  @apply font-semibold text-gray-800;
}

a {
  @apply transition-colors;
}
